@font-face {
  font-family: 'MyCustomFont';
  src: url('burnstown-dam/burnstown\ dam.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
    font-family: 'rustic-normal';
    src: url(fredericka-the-great/FrederickatheGreat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes rotateIn {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}


:root {
    --banner-width: 592px;
    --regular-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    max-height: 100vh;
}

.image-container {
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100vh;
    
}

.image-itself {
    flex: 1;
    padding: 0;
    margin: 0;
    max-height: 100vh;
}

img {
    filter: blur(0); /* Initial state */
    transition: filter 0.3s ease; /* Transition effect */
}
img:hover {
    filter: blur(7px); /* Blurred state on hover */
}

.logo-banner {
    display: flex;
    position: absolute;
    bottom: 46vh;
    align-items: center;
    width: var(--banner-width);
}

.logo-background {
    position: absolute;
    background-color: black;
    height: 350px;
    width: var(--banner-width);
    bottom: 48vh;
    opacity: 55%;
}

.logo {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 89px;
    text-shadow: 1px 1px 0;
    color: beige;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex: 1;
    max-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 68px;
    font-family: 'MyCustomFont';
    background-color: rgb(163, 163, 163);
    margin: 0;
    letter-spacing: 1px;
    padding: 45px 16px;
    box-shadow: 1px 1px 5px black;
    position: relative;
}
.more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(223, 223, 223);
    padding: 20px 60px;
}

.disclaimer {
    font-family: 'rustic-normal';
    letter-spacing: 1px;
    font-size: 24px;
    text-align: center;
    font-style: italic;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 163, 163);
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.15);
    width: 45vw;
    height: 45vh;
    border-radius: 10px; 
    position: relative;
    animation: flyIn 3s ease-in-out;
    animation: rotateIn 3s ease-in-out;
}

.form-title {
    padding: 20px;
    font-family: 'rustic-normal';
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;

}

#top-half {
    margin: 0 25px;
    display: flex;
    gap: 10vw;
    justify-content: center;
    margin-bottom: 20px;
}

#first-column, #second-column {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#first-column > input, #second-column > input {
    margin-bottom: 25px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 223, 223);
}

label {
    font-family: 'rustic-normal';
    position: relative;
}

input {
    padding: 5px 12px;
    border-radius: 4px;
    border-color: white;
    width: 10vw;
}


input:focus {
    border: 5px solid blue;
}

input:invalid {
    border: 5px solid red;
}

#bottom-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.submit-button-container {
    padding: 40px 0;
}

button {
    padding: 12px 24px;
    background: linear-gradient(to right, rgb(0, 8, 255), red);
    border-radius: 10px;
    color: beige;
    font-weight: 800;

}

footer {
    display: flex;
    justify-content: center;
    padding: 16px 8px;
    background-color: rgb(163, 163, 163);
    margin-top: auto;
}